
body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

.menu {
display: flex;
padding-right: 50px;


}

.menu li {
    margin-left: 10px;

}

.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #766F68;
}

.Logo {
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    color: #D2872C;
    padding-left: 60px;
}

.flex {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.box1 {
    max-width: 600px;
    padding-left: 200px;
    
}

.box2 {
    max-width: 600px;
}

.tittlePage {
    font-size: 56px;
    color: #766F68;
}

.txtPage {
    font-size: 24px;
    color: #766F68;
}


.picture {
    max-width: 700px;
}

.btnPage {
    width: 220px;
    height: 54px;
    border: none;
    background-color: #D2872C;
    color: white;
    border-radius: 12px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
}